<html>
    <head>
        <title>Blog Django Girls</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Amanda é MUITO LINDA</a></h1>
        </div>

        <div>
            <p>Sobre ela:</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>É muito bom gostar de amanda porque ela é muito incrível! Gosto muito dela, do cheiro, do sorrizo,<br> das palavras e de tudo! Incrível como alguém pode ser tão legal e saudável para a minha vida ^^</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2><a href="">Mais alguns detalhes:</a></h2>
            <p>Você pode até mesmo não não acreditar em tudo, mas é verdade... Você é minha melhor amiga e eu confio <br> em você mais do que em qualquer outra pessoa, te amo.</p>
        </div>
    </body>
</html>